stream.superminerbattle.farm {
  proxy / {
    websocket
    transparent
    upstream localhost:4000
  }
}

brackets.superminerbattle.farm {
  header / {
    Access-Control-Allow-Origin  *
	Access-Control-Allow-Methods "GET, POST, OPTIONS, HEAD"
    Access-Control-Allow-Headers "Authorization, Origin, X-Requested-With, Content-Type, Accept"
  }
  proxy / localhost:8080 
}
