ma.xprettyjohns.com {
  root /var/www/ma.xprettyjohns/html
  rewrite {
    regexp .*
    to {path} /
  }
}

brackets.superminerbattle.farm {
  header / {
    Access-Control-Allow-Origin  *
	Access-Control-Allow-Methods "GET, POST, OPTIONS, HEAD"
    Access-Control-Allow-Headers "Authorization, Origin, X-Requested-With, Content-Type, Accept"
  }
  proxy / localhost:8080 
}

bot.fightinggame.community {
  proxy / localhost:3000
}
